
.page {

    @font-face {
      font-family: 'Inter-Black';
      src: local('fonts/Inter-Black.woff');
      src: local('fonts/Inter-Black.woff2');
    }
  
  
    min-width: 320px;

    max-width: 1280px;

    margin: 0 auto;

    font-family: 'Inter-Black', sans-serif;

    background: #181A19;



}



  