
.page {
  
    min-width: 320px;

    max-width: 1280px;

    margin: 0 auto;

    background: #181A19;

    overflow-x: hidden; /* - убирает полосу прокрутки при изменении ширины окна */

    font-family: 'Inter', sans-serif;

}



  