.place__image {
    
    width: 460px;
    object-fit: cover;
    
    
}

@media screen and (max-width: 980px) {
    .place__image {
        
        width: 340px;
    }
}

@media screen and (max-width: 663px) {
    .place__image {
        width: 100%;
        
        
    }
}
