
.intro__list {
    padding: 0;
    margin: 33px 0 0;
    font-size: 12px;
    line-height: 18px;
    list-style: none;
    color: #FFF;
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-style: normal;

    max-width: 690px;
}


