
.intro__list {
    padding: 0;
    margin: 34px 0px 0px 0px;
    font-size: 12px;
    line-height: 18px;
    list-style: none;
    color: #FFF;
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-style: normal;
}


