.cover__subtitle {
    font-size: 18px;
    line-height: 22px;
    max-width: 360px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-weight: normal;
    margin: 32px 0 0 0;
    padding: 0;
    color: #fff;
    
}

@media screen and (max-width: 520px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        margin-top: 16px;
    }
}