

.intro__text {
    max-width: 60vw;
    color: #FFF;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}