.lead__subtitle {
    margin: 24px auto 36px;
    color: #FFF;
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    max-width: 580px;
    font-style: regular; 
}

@media screen and (max-width: 520px){
    .lead__subtitle {
        font-size: 16px;
        line-height: 20px;
    }
}