.cover__subtitle {
    font-size: 18px;
    line-height: 22px;
    width: 40%;
    color: #fff;
    position: absolute;
    text-align: center;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

 /* подогнать титулы еще */
@media screen and (max-width: 768px) {
    .cover__subtitle {
        width: 460px;
        
    }
}

@media screen and (max-width: 520px) {
    .cover__subtitle {
        width: 90%;
        font-size: 14px;
        line-height: 16px;
    }
}