.cover__background {
    grid-row: 1/1;
    grid-column: 1/1;
    z-index: 0;
    
}

@media screen and (max-width: 1280px){
    .cover__background {
        width: 92vw;
        margin: 0 auto;
        
    }
}

@media screen and (max-width: 1024px){
    .cover__background {
        width: 95vw;
        margin: 0 auto;
        
    }
}

