
.cover__title {
    margin: 0 auto;
    max-width: 560px;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #FFFFFF;
    z-index: 1;
    font-family: Inter, sans-serif;
    font-weight: 900;
    font-style: normal;
   }
   
   @media screen and (max-width: 540px) {
     .cover__title {
      
       max-width: 360px;
       font-size: 45px;
     }
   }
   
   @media screen and (max-width: 350px) {
     .cover__title {
       font-size: 40px;
     }
   }
   
   @media screen and (max-width: 320px) {
     .cover__title {
       max-width: 288px;
  
       font-size: 32px;
       line-height: 35px;
     }
   }