.cover__title {
    width: 480px;
    line-height: 76px;
    font-size: 72px;
    color: #fff;
    margin: 0 auto;
    text-align: center;
    
    
}

@media screen and (max-width: 520px) {
    .cover__title {
        
        font-size: 32px;
        line-height: 35px;
    }
}