.place {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(460px, 1fr));
    grid-gap: 48px;
    max-width: 984px;
    margin: 60px auto 80px;
}

.place:last-child {
    margin-bottom: 0px;
}

@media screen and (max-width: 980px) {
    .place {
        max-width: 720px;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        grid-gap: 24px;
        
    }
}

@media screen and (max-width: 320px) {
    .place {
        margin-bottom: 50px;
    }
}
