.footer {
    
    padding-bottom: 24px;
    margin: 0 48px 0 48px;
    min-width: 320px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #fff;
}

@media screen and (max-width: 768px) {
    .footer {
        display: flex;
        flex-direction: column;
        margin: 0 24px 0 24px;
    }

    .footer__links {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        display: flex;
        flex-direction: column;
        margin: 0 16px 0 16px;
    }
}